---
const title = "QR Code generator";
const description = "Generate unlimited QR Codes with ease for free";
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="canonical" href={Astro.url.href} />
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:description" content={description} />
    <meta property="og:locale" content="en" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:creator" content="@LfbvrFlo" />
    <style>
      a[href],
      button,
      input,
      textarea,
      select,
      details,
      [tabindex]:not([tabindex="-1"]) {
        @apply focus-visible:!outline-4 focus-visible:!outline-blue-500 focus-visible:![outline-style:solid];
      }

      @media (prefers-color-scheme: dark) {
        html {
          color-scheme: dark;
        }
      }
    </style>
  </head>
  <body class="bg-white text-stone-700 dark:bg-stone-950 dark:text-stone-200">
    <div class="max-w-96 mx-auto p-4">
      <h1 class="text-2xl mb-4 text-center">{title}</h1>
      <form id="form" class="grid grid-cols-1">
        <label for="qr_text">Your text</label>
        <textarea
          id="qr_text"
          name="qr_text"
          class="border bg-stone-100 dark:bg-stone-900 border-stone-400 dark:border-stone-700 px-1 min-h-8 [field-sizing:content]"
        ></textarea>
        <div class="grid grid-cols-2 gap-2 mt-2">
          <button
            type="submit"
            class="bg-blue-700 text-blue-50 text-lg text-center px-2 py-1.5 hover:brightness-90"
          >
            Generate</button
          >
          <a
            href="/"
            class="bg-stone-700 text-stone-50 text-lg text-center px-2 py-1.5 hover:brightness-90"
            >Reset</a
          >
        </div>
        <div id="qr" class="aspect-square max-w-96 mt-6 [&>svg]:dark:invert">
          <div
            class="h-full w-full bg-stone-100 dark:bg-stone-900 flex items-center justify-center text-center"
          >
            <p class="text-balance text-lg">
              Type something in the box above and hit "Generate"!
            </p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-2 mt-2">
          <button
            id="download"
            disabled
            type="button"
            class="bg-blue-700 text-blue-50 text-lg text-center px-2 py-1.5 disabled:opacity-50 hover:brightness-90 disabled:hover:brightness-100"
            >Download</button
          >
          <button
            id="copy"
            disabled
            type="button"
            class="bg-blue-700 text-blue-50 text-lg text-center px-2 py-1.5 disabled:opacity-50 hover:brightness-90 disabled:hover:brightness-100"
            >Copy</button
          >
        </div>
        <a
          href="https://github.com/florian-lefebvre/qr-generator"
          target="_blank"
          class="text-lg text-center mt-2 px-2 py-1.5 w-full hover:brightness-90 underline"
          >Source code</a
        >
      </form>
      <script is:inline>
        // Inline to avoid FOUC
        const initialText = new URLSearchParams(window.location.search).get(
          "qr_text"
        );
        if (initialText && initialText !== "") {
          document.getElementById("qr_text").value = initialText;
        }
      </script>
      <script>
        import { renderSVG } from "uqr";

        // Initialize constants
        let dataUrl = "";
        const WIDTH = 1024;
        const formEl = document.getElementById("form")! as HTMLFormElement;
        const qrTextEl = document.getElementById(
          "qr_text"
        )! as HTMLTextAreaElement;
        const qrEl = document.getElementById("qr")! as HTMLDivElement;
        const downloadEl = document.getElementById(
          "download"
        )! as HTMLButtonElement;
        const copyEl = document.getElementById("copy")! as HTMLButtonElement;

        // Helper function to trigger a file download
        const download = (href: string, name: string) => {
          const a = document.createElement("a");

          a.download = name;
          a.href = href;

          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
        };

        // Updates state
        const createQr = (text: string) => {
          const svg = renderSVG(text);
          dataUrl = `data:image/svg+xml;base64,${btoa(svg)}`;
          qrEl.innerHTML = `<img id="qr-img" src="${dataUrl}" />`;
          downloadEl.disabled = false;
          copyEl.disabled = false;
        };

        const svgToPng = () => {
          const canvas = document.createElement("canvas");
          const context = canvas.getContext("2d")!;

          canvas.width = WIDTH;
          canvas.height = WIDTH;

          const image = document.getElementById("qr-img")! as HTMLImageElement;
          context.fillStyle = context.createPattern(image, "no-repeat")!;
          context.fillRect(0, 0, canvas.width, canvas.height);
          const dataUrl = canvas.toDataURL("image/png");
          canvas.remove();
          return dataUrl;
        };

        qrTextEl.addEventListener("keydown", (e) => {
          if (e.key === "Enter" && e.ctrlKey) {
            formEl.submit();
          }
        });

        // Handle svg download
        downloadEl.addEventListener("click", () => {
          download(svgToPng(), "qrcode.png");
        });

        copyEl.addEventListener("click", async () => {
          const blob = await fetch(svgToPng()).then((res) => res.blob());
          window.navigator.clipboard.write([
            new ClipboardItem({
              "image/png": blob,
            }),
          ]);
          alert("Copied");
        });

        // Handle query param
        const initialText = new URLSearchParams(window.location.search).get(
          "qr_text"
        );
        if (initialText && initialText !== "") {
          createQr(initialText);
        }
      </script>
    </div>
  </body>
</html>
